.Graph {
  grid-area: graphPetro;
  position: relative;
}
.GraphContainer {
  margin: auto;
  width: 816px;
  height: 472px;

  position: absolute;
  top: 28px;
  left: 3.45%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  background-color: #212020;
  border-radius: 15px;
}

.Title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  width: 89.4%;
  color: #ffffff;
}

.Forms {
  width: 89.4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Forms .Buttons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.Forms .CheckBoxes {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;

  font-style: normal;
  font-weight: 700;
  font-size: 13px;
}

.Forms .CheckBox {
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.CheckBox label {
  margin-left: 11px;
}

.CheckBox input {
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  border: 3px solid #f0f0f0;
  background-color: #f0f0f0;
}

.CheckBox input:checked {
  background-color: #000000;
}

.Forms button {
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;

  margin-right: 3%;

  color: #000000;

  padding: 5px 14px;
  border-radius: 5px;

  box-shadow: none;
  border: none;
}

.Forms .CheckBoxes label {
}

.Forms .CheckBoxes input {
}

.auxPetro {
  width: 89.4%;
  height: 70%;
}

#ActivePetro {
  background-color: #121212;
  color: #f0f0f0;
}

#ActivePetro:active {
  border-color: black;
}
