.Main {
  margin: auto;
  width: 1440px;
  min-height: 100vh;

  color: white;

  display: grid;
  grid-template-columns: 230px 230px 440px 1fr;
  grid-template-rows: 226px 171px 340px 329px 171px;
  grid-template-areas:
    'news news graph graph'
    'twitter twitter graph graph'
    'relevantFacts relevantFacts graph graph'
    'graphPetro graphPetro graphPetro relevantFactsPetro'
    'graphPetro graphPetro graphPetro newsPetro';
}
