.Main {
  margin: auto;
  width: 1440px;
  height: 100vh;

  color: white;

  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 226px 171px 340px;
  grid-template-areas:
    'news graph'
    'twitter graph'
    'relevantFacts graph';
}
